@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %section;
    background-color: var.$background-color-secondary;


    a {
        color: var.$text-color-secondary;
        text-decoration: none;
    }
    
}